<app-module-banner module_title="RECENT POSTS" module_desc="OUR RECENT BLOG ENTRIES" ></app-module-banner>
<app-template-banner></app-template-banner>


<div class="flex justify-center space-x-3 w-12/12 space-y-24 ">

    <div class="w-5/12 h-4/6 ">
    <div class=" w-full flex flex-row space-x-2 ">

<!-- post-1 -->
<div class="grid grid-cols-2 ">
   <app-blog-entries-post class="pb-5 px-3" *ngFor ="let item of data; let i=index" [index]="i" (sendIndex)="receiveIndex($event)">
   
   <img class="post_picture" src="{{item.image}}">
   <div class="post_title">{{item.post_title}}</div>
   <div class="post_decsription">{{item.post_decsription}}</div>
   <div class="post_admin">{{item.post_admin}}</div>
   <div class="post_date">{{item.post_date}}</div>
   <div class="post_comment">{{item.post_comment}}</div>
   <div class="post_content">{{item.post_content}}</div>
   <div class="post_tag">{{item.post_tag}}</div>
   <div class="post_Delete_btn"></div>
   </app-blog-entries-post> 

</div>
   
  
        </div>
</div> 

<div class="flex flex-col w-96 pl-24">

   <div>

   <h1 class="text-lg tracking-wide font-semibold space-y-6 pb-2 pt-5 border-b 
   border-gray-200 text-black">RECENT POSTS</h1> 

   <div class="mr-24">
      <input type="search" [(ngModel)]="value" (ngModelChange)="searchData()" name="searchbox"
       placeholder="TYPE TO SEARCH..." 
      class="placeholder-opacity-25 border-1 border-gray-300 text-sm w-72
      outline-none focus:outline-none" >
   </div>
  
   <app-recent-post *ngFor = "let item of recent_post" >
      <!-- <div *ngIf=" i<3 "> -->
        
         <div class="RecentPostTitle">{{item.title}}</div>
         <div class="PostDate">{{item.date}}</div>
         
      <!-- </div> -->
   </app-recent-post>
   </div>

    <app-catagories></app-catagories>
    <app-tag-clouds></app-tag-clouds>
    </div>
</div>

















 






