<app-module-banner module_title="RECENT POSTS" module_desc="OUR RECENT BLOG ENTRIES" ></app-module-banner>
<app-template-banner></app-template-banner>

<div class="flex justify-center   space-x-0.05 w-12/12 space-y-24 ">

    <div class="w-5/12 h-4/6">
    <div class=" w-full  flex flex-row space-x-2">

<!-- post-1 -->
    <app-blog-entries-post>
        
        <div class="post_title">
        <h1>LIFESTYLE</h1>
        </div>
  
     <div class="post_picture">
     <img src="/assets/blog-thumb-01.jpg" alt=""> 
     </div>
     
     <div class="post_decsription">
        Donec Tincidunt Leo</div>
  
     <div class="post_admin"> Admin  | </div>
  
     <div class="post_date">
     <h1> May 31, 2020  | </h1> 
     </div>
  
     <div class="post_comment"> <h1>  12 comments </h1></div>
  
     <div class="post_content"> Nullam nibh mi, tincidunt sed sapien ut, rutrum
        hendrerit velit. Integer auctor a mauris sit amet eleifend.</div>
  
     <div class="post_tag"> Beauty, Nature </div>
  
    </app-blog-entries-post> 

    <!-- post-2 -->

    <app-blog-entries-post>
        
        <div class="post_title">
        <h1>LIFESTYLE</h1>
        </div>
  
     <div class="post_picture">
     <img src="/assets/blog-thumb-02.jpg" alt=""> 
     </div>
     
     <div class="post_decsription">
        Suspendisse Et Metus</div>
  
     <div class="post_admin"> Admin  | </div>
  
     <div class="post_date">
     <h1> May 22, 2020  | </h1> 
     </div>
  
     <div class="post_comment"> <h1>  26 comments </h1></div>
  
     <div class="post_content"> Nullam nibh mi, tincidunt sed sapien ut, rutrum
        hendrerit velit. Integer auctor a mauris sit amet eleifend.</div>
  
     <div class="post_tag"> Beauty, Nature </div>
  
    </app-blog-entries-post> 
    
    </div>

    <div class="flex flex-row space-x-3">

    <!-- post-3 -->
    <app-blog-entries-post>
        
        <div class="post_title">
        <h1>LIFESTYLE</h1>
        </div>
  
     <div class="post_picture">
     <img src="/assets/blog-thumb-03.jpg" alt=""> 
     </div>
     
     <div class="post_decsription">
        Donec Tincidunt Leo</div>
  
     <div class="post_admin"> Admin  | </div>
  
     <div class="post_date">
     <h1> May 18, 2020  | </h1> 
     </div>
  
     <div class="post_comment"> <h1>  42 comments </h1></div>
  
     <div class="post_content"> Nullam nibh mi, tincidunt sed sapien ut, rutrum
        hendrerit velit. Integer auctor a mauris sit amet eleifend.</div>
  
     <div class="post_tag"> Beauty, Nature </div>
  
    </app-blog-entries-post> 
   
    <!-- post-4 -->
    <app-blog-entries-post>
        
        <div class="post_title">
        <h1>LIFESTYLE</h1>
        </div>
  
     <div class="post_picture">
     <img src="/assets/blog-thumb-04.jpg" alt=""> 
     </div>
     
     <div class="post_decsription">
        Mauris Ac Dolor Ornare</div>
  
     <div class="post_admin"> Admin  | </div>
  
     <div class="post_date">
     <h1> May 16, 2020  | </h1> 
     </div>
  
     <div class="post_comment"> <h1>  28 comments </h1></div>
  
     <div class="post_content"> Nullam nibh mi, tincidunt sed sapien ut, rutrum
        hendrerit velit. Integer auctor a mauris sit amet eleifend.</div>
  
     <div class="post_tag"> Beauty, Nature </div>
  
    </app-blog-entries-post> 
    
    </div>

    <div class="flex flex-row space-x-3">
        <!-- post-5 -->
        <app-blog-entries-post>
        
            <div class="post_title">
            <h1>LIFESTYLE</h1>
            </div>
      
         <div class="post_picture">
         <img src="/assets/blog-thumb-05.jpg" alt=""> 
         </div>
         
         <div class="post_decsription">
            Donec Tincidunt Leo</div>
      
         <div class="post_admin"> Admin  | </div>
      
         <div class="post_date">
         <h1> May 12, 2020  | </h1> 
         </div>
      
         <div class="post_comment"> <h1>  16 comments </h1></div>
      
         <div class="post_content"> Nullam nibh mi, tincidunt sed sapien ut, rutrum
            hendrerit velit. Integer auctor a mauris sit amet eleifend.</div>
      
         <div class="post_tag"> Beauty, Nature </div>
      
        </app-blog-entries-post> 
    
    <!-- post-6     -->
    <app-blog-entries-post>
        
        <div class="post_title">
        <h1>LIFESTYLE</h1>
        </div>
  
     <div class="post_picture">
     <img src="/assets/blog-thumb-06.jpg" alt=""> 
     </div>
     
     <div class="post_decsription">
        Mauris Ac Dolor Ornare</div>
  
     <div class="post_admin"> Admin  | </div>
  
     <div class="post_date">
     <h1> May 10, 2020  | </h1> 
     </div>
  
     <div class="post_comment"> <h1>  3 comments </h1></div>
  
     <div class="post_content"> Nullam nibh mi, tincidunt sed sapien ut, rutrum
        hendrerit velit. Integer auctor a mauris sit amet eleifend.</div>
  
     <div class="post_tag"> Beauty, Nature </div>
  
    </app-blog-entries-post> 
        </div>
</div>


    <div class="flex flex-col w-96 pl-24">
    <app-post-search></app-post-search>
    <app-recent-post></app-recent-post>
    <app-catagories></app-catagories>
    <app-tag-clouds></app-tag-clouds>
    </div>
</div>

