<app-header></app-header>
<div class="flex flex-row">
<app-carousel picture1="https://templatemo.com/templates/templatemo_551_stand_blog/assets/images/banner-item-01.jpg" title1="FASHION" desc="Morbi Dapibus Condimentum" row1="Admin  |" row2="  May 12,2020  |" row3="  12 Comments" ></app-carousel>
<app-carousel picture1="https://templatemo.com/templates/templatemo_551_stand_blog/assets/images/banner-item-02.jpg" title1="NATURE" desc="Donec Porttitor Augue At Velit" row1="Admin  |" row2="  May 24,2020  |" row3="  20 Comments" ></app-carousel>
<app-carousel picture1="https://templatemo.com/templates/templatemo_551_stand_blog/assets/images/banner-item-03.jpg" title1="LIFESTYLE" desc="Best HTML Templates On TemplateMo" row1="Admin  |" row2="  May 12,2020  |" row3="  12 Comments" ></app-carousel>
</div>