<div class=" flex flex-col align-middle items-center">

<div class=" items-center w-8/12 justify-center">
<div class="grid grid-cols-2 w-5/4 py-10 border-b border-gray-300">
    <div class=" space-x-8 space-y-8">
       <h2 class="text-2xl text-center tracking-wide font-semibold text-black">{{about_us_title1}}</h2>
       <p class="text-sm text-center text-gray-500  leading-7">{{about_us_desc1}}</p>
    </div>
    <div class=" space-x-8 space-y-8">
        <h2 class="text-2xl text-center tracking-wide font-semibold text-black">{{about_us_title2}}</h2>
        <p class="text-sm text-center text-gray-500 leading-7">{{about_us_desc2}}</p>
     </div>
</div>

<div class="grid grid-cols-3 text-center w-5/4 py-10 border-b border-gray-300">
    <div class=" space-x-8 space-y-8 ">
        <h2 class="text-2xl tracking-wide font-semibold text-black">{{about_us_title3}}</h2>
        <p class="text-sm text-gray-500 text-center leading-7">{{about_us_desc1}}</p>
    </div>
    <div class="space-x-8 space-y-8 ">
        <h2 class="text-2xl tracking-wide font-semibold text-black">{{about_us_title4}}</h2>
        <p class="text-sm text-gray-500 text-center leading-7">{{about_us_desc2}}</p>
    </div> 
    <div class="space-x-8 space-y-8 ">
        <h2 class="text-2xl tracking-wide font-semibold text-black">{{about_us_title5}}</h2>
        <p class="text-sm text-gray-500 text-center leading-7">{{about_us_desc2}}</p>
    </div>
</div>

<div class="grid grid-cols-4 pt-8 pb-10 text-center ">
    <div class="space-y-8 space-x-3 pb-8  border-b border-gray-200">
        <h2 class="text-2xl tracking-wide font-semibold text-black">{{about_us_title6}}</h2>
        <p class="text-sm text-gray-500 text-center leading-7">{{about_us_desc6}}</p>
    </div>
    <div class="space-y-8 space-x-3  border-b border-gray-200">
        <h2 class="text-2xl tracking-wide font-semibold text-black">{{about_us_title7}}</h2>
        <p class="text-sm text-gray-500 text-center leading-7">{{about_us_desc7}}</p>

    </div> <div class="space-y-8 space-x-3  border-b border-gray-200">
        <h2 class="text-2xl tracking-wide font-semibold text-black">{{about_us_title8}}</h2>
        <p class="text-sm text-gray-500 text-center leading-7">{{about_us_desc8}}</p>
    </div>

    <div class="space-y-8 space-x-3  border-b border-gray-200">
        <h2 class="text-2xl tracking-wide font-semibold text-black">{{about_us_title9}}</h2>
        <p class="text-sm text-gray-500 text-center leading-7">{{about_us_desc7}}</p>
    </div>
</div></div></div>