<div  class=" w-1/2">
<div class="mt-5">
    <h1 class="text-lg pb-2 tracking-wide font-semibold space-y-6 border-b border-gray-400 text-black">CONTACT INFORMATION    </h1> 
    <ul>
        <li class="border-b border-gray-400 pt-5 space-y-2 pb-3 ">
            <p class="text-lg tracking-wide  font-semibold mb-2 text-black">090-484-8080</p>
            <p class="text-gray-400 text-sm font-normal  mt-3">PHONE NUMBER</p>
        </li>

        <li class="border-b border-gray-400  pt-4 space-y-2 pb-3">
            <p class="text-lg tracking-wide font-semibold mb-2 text-black">info@company.com
            </p>
            <p class="text-gray-400 text-sm font-normal  mt-3">EMAIL ADDRESS
            </p>
        </li> 
        
        <li class=" pt-4 space-y-2 pb-3 ">
            <p class="text-lg tracking-wide font-semibold mb-2 text-black">123 Aenean id posuere dui,
                Praesent laoreet 10660</p>
            <p class="text-gray-400 text-sm font-normal  mt-3">STREET ADDRESS
            </p>
        </li>
        
    </ul>
    </div></div>