
  <body class="bg-white ">
    <div class="bg-gray-100 sticky top-0 z-30">
    <nav class="container mx-auto flex flex-row  p-8 px-10 items-center" >

      <div class="font-bold text-2xl pl-40 tracking-normal">
        <a href="#">STAND BLOG <span class="text-red-600 opacity-75 text-4xl">.</span> </a>
      </div>

      <div class="font-semibold text-md ml-auto pt-2 pb-2 mx-44 text-black">
       
        <a routerLink="/home" routerLinkActive="active" class="mr-12 hover:text-primary opacity-90">HOME</a>
        <a routerLink="/about-us" routerLinkActive="active" class="mr-12 hover:text-primary hover:opacity-60" >ABOUT US</a>
        <a routerLink="/blog-entries"  routerLinkActive="active" class="mr-12 hover:text-primary hover:opacity-60">BLOG ENTRIES</a>
        <a routerLink="/post-details"routerLinkActive="active" class="mr-12 hover:text-primary hover:opacity-60">POST DETAILS</a>
        <a routerLink="/contact-us"routerLinkActive="active" class="mr-12 hover:text-primary hover:opacity-60">CONTACT US</a>

      </div>
    </nav>
  </div>
  <router-outlet></router-outlet>


  </body>

