<h1 class="text-xl flex flex-col w-5/12 justify-center items-center tracking-wide font-bold mb-2 text-black">4 COMMENTS</h1> 
<div class="border-b border-gray-200 w-8/12 flex justify-center items-center"></div>

<div class="container ">

<app-comment comment_author="/assets/comment-author-01.jpg" 
comment_title="Charles Kate" 
comment_desc="Fusce ornare mollis eros. Duis et diam vitae justo fringilla 
condimentum eu quis leo. Vestibulum id turpis porttitor sapien facilisis 
scelerisque. Curabitur a nisl eu lacus convallis eleifend posuere id tellus."
 comment_date="May 16, 2020"></app-comment>

 <app-comment comment_author="/assets/comment-author-02.jpg" 
comment_title="Thirteen Man" 
comment_desc="In porta urna sed venenatis sollicitudin. Praesent urna sem, pulvinar vel mattis eget.
Cras tortor nulla, faucibus id tincidunt in"
 comment_date="May 20, 2020"></app-comment>

 <app-comment comment_author="/assets/comment-author-03.jpg" 
comment_title="Belisimo Mama" 
comment_desc="Nullam nec pharetra nibh. Cras tortor nulla, faucibus id tincidunt 
in, ultrices eget ligula. Sed vitae suscipit ligula. Vestibulum id turpis volutpat,
 lobortis turpis ac, molestie nibh."
 comment_date="May 16, 2020"></app-comment>

 <app-comment comment_author="/assets/comment-author-02.jpg" 
comment_title="Thirteen Man" 
comment_desc="Mauris sit amet justo vulputate, cursus massa congue, vestibulum odio. Aenean elit nunc, gravida in erat sit amet, feugiat viverra leo."
 comment_date="May 22, 2020"></app-comment>

</div>