<div class="bg-gray-800 flex flex-col items-center p-5 ">
<div class="container space-x-5 w-screen  h-64">

    <div class=" flex space-x-10 pb-14 justify-center border-b border-gray-700 w-full tracking-wide 
    py-10 divide-white text-white text-sm font-medium">
         <a href=""> FACEBOOK </a><span>|</span> 
         <a href="">TWITTER   </a> <span>|</span>
            <a href="">BEHANCE  </a><span>|</span>
         <a href="">LINKEDIN  </a><span>|</span>
         <a href="">DRIBBLE  </a>
    </div>
   
    
    <div class="text-sm flex justify-center items-center mb-2 pt-16">
        <p class="text-white">COPYRIGHT 2020 STAND BLOG CO. | DESIGN: <a class="text-primary" href="#">TEMPLATEMO</a> </p>
    </div>
</div></div>