<div class=" flex flex-col align-middle items-center pt-20">

    <div class="mt-5 items-center w-8/12 justify-center">
    <img src="/assets/about-us.jpg" alt="">

    <div class="container mt-9">
        <p class="text-sm text-gray-500 text-left leading-7">Please tell your friends about TemplateMo 
            website. Thank you. You can browse through different categories of templates such as business, portfolio, restaurant, etc. Pellentesque quis luctus libero. Maecenas pretium molestie erat, ac tincidunt leo gravida ac. Cras ullamcorper eu ipsum eu sollicitudin. Fusce vitae commodo turpis. Integer ullamcorper purus nec justo mollis fermentum. Nunc imperdiet erat nec lacinia laoreet.</p>
            <br>
        <p class="text-sm text-gray-500  leading-7 border-b pb-10 border-gray-200">
            Maecenas faucibus ullamcorper felis vitae finibus.
             Nullam at quam ut lacus aliquam tempor vel sed ipsum. Donec pellentesque tincidunt imperdiet. Mauris sit amet justo vulputate, cursus massa congue, vestibulum odio. Aenean elit nunc, gravida in erat sit amet, feugiat viverra leo. Phasellus interdum, diam commodo egestas rhoncus, turpis nisi consectetur nibh, in vehicula eros orci vel neque.</p>
    </div>
</div></div>