
<div class="mt-3  bg-white ml-3 h-full w-full ">
    <img src="{{picture1}}" class="w-full h-full px-1.5 pt-3" alt="">
    <div class="container -mt-32 ml-10">
        <h2
        class="text-primary text-lg mb-2 font-extrabold tracking-wide">
        {{ title1 }}
        </h2>
        <a href="#" class="text-2xl font-bold text-white">{{ desc }}</a> <br />

        <div class="text-white text-sm font-medium mt-3">
        <a href="#">{{ row1 }}</a>
        <a href="#">{{ row2 }}</a>
        <a href="#">{{ row3 }}</a>
        </div>
    </div>
</div>