<div class="mt-5">
<ul class="space-y-3">
    <li>
        <a href="#" class="text-lg tracking-wide font-semibold  mb-2 text-black"><ng-content select=".RecentPostTitle"></ng-content></a> <br>
        <a href="#" class="text-gray-400 text-sm font-normal  mt-3"><ng-content select=".PostDate"></ng-content></a>
    </li>
    <li>
        <a href="#" class="text-lg tracking-wide font-semibold mb-2 text-black"><ng-content select=".RecentPostTitle"></ng-content></a> <br>
        <a href="#" class="text-gray-400 text-sm font-normal mt-3"><ng-content select=".PostDate"></ng-content></a>
    </li>
    <li>
        <a href="#" class="text-lg tracking-wide font-semibold mb-2 text-black"><ng-content select=".RecentPostTitle"></ng-content></a> <br>
        <a href="#" class="text-gray-400 text-sm font-normal mt-3"><ng-content select=".PostDate"></ng-content></a>
    </li>
</ul>
<div class="border-b border-gray-200 -mt-16"></div>


</div>